* {
  /* bien alineado al margen */
  margin: 0;
  padding: 0;
}
/* clases comienzan por punto */

body{
    background-color: #DBD6D0;
}

.header {
  width: 100%; /*ancho de toda la pantalla*/
  z-index:1;
}

.headerStyle {
  color: #73e9c2;
}

.characters {
    margin-top: 140px; /*140px del div que lo contiene o div padre*/
    margin-bottom: 60px; /*60px del div que lo contiene en la parte de abajo*/
}

